<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
    <h1>Welcome to the about me page</h1>
</header>
<body>
    <ul>
        {% for skill in skills %}
        <li>{{ skill }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for interest in interests %}
        <li>{{ interest }}</li>
        {% endfor %}
    </ul>
</body>
</html>